<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'https://via.placeholder.com/89x25/FFFFFF', width: 89, height: 25, alt: 'Company Logo'}"
  [navbarBrandMinimized]="{src: 'https://via.placeholder.com/30', width: 30, height: 30, alt: 'Small Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <div class="ml-auto">
  </div>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" [minimized]="minimized" #sidebar
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems$ | async" [perfectScrollbar] [disabled]="sidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-aside [fixed]="true" [display]="false">
  </app-aside>
</div>
<app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2019 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI</a></span>
</app-footer>
